.footerContainer {
    max-width: 55rem !important;
    width: 100%;
    margin: auto;
    text-align: center;
}

.ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 2rem;
}

.footerContainer h4,
.ul {
    text-align: left;
}

.ul a,
.ul a:hover {
    text-decoration: none;
}