* {
  background-color: black;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}
.title {
  font-size: 25px;
  font-weight: bold;
  color: #f8f8f8;
}
.form {
  display: grid;
}
.label {
  font-size: 20px;
  margin-bottom: 1rem;
}

.input {
  font-size: 20px;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  color: #f8f8f8;
}

.button {
  background-color: rgba(6, 49, 240, 0.75);
  color: rgb(2, 2, 2);
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 250ms;
}
.button:hover {
  background-color: rgba(248, 248, 248, 0.85);
}
.cardlist {
  column-count: 2;
}
.card {
  margin-bottom: 1rem;
  display: flex;
}

.cardimage {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .input {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .cardlist {
    column-count: 1;
  }
}
