.space {
  margin: auto;
  position: relative;
  /* height: 100vh; */
  /* background-attachment: fixed; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: auto !important;
  padding: 2.5rem 0;
  background-image: url("../assets/space-bg.jpeg") !important;
}

.spaceContainer {
  padding: 3.5rem 0 !important;
  background-color: transparent !important;
}

.spaceContainer h2 {
  color: #fafafa;
  text-align: center;
  padding: 1.5rem;
}

.space svg {
  background-color: #101110;
  box-shadow: 0 0px 5px #555;
  color: #fafafa;
  font-size: 3.5rem;
  margin: 1.5rem auto;
  border-radius: 50%;
  padding: 10px;
}

.space .row_1 {
  background-color: #0d0d0d;
  max-width: 55rem;
  width: auto;
  height: auto;
  color: #fafafa;
  box-shadow: 0 0px 2px #555;
  padding: 2rem;
  margin: auto;
  align-items: center;
}

.space img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto !important;
  padding: 2rem;
}

.button {
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background: transparent;
  border: 1px solid #fafafa;
  color: #fafafa;
  box-shadow: 0 0px 2px #fafafa;
  padding: 5px 5px;
  border-radius: 25px;
  margin: 0 5px;
}

.button:hover {
  background-color: #fafafa;
  color: #101110;
}

.button:hover,
.button:active,
.button:focus {
  outline: none;
}

.space p {
  line-height: 2;
}

.header {
  display: flex !important;
  padding: 0.5rem !important;
  justify-content: start;
  align-items: center;
}

.textcenter {
  justify-content: center;
  align-items: center;
}

.header {
  display: flex !important;
  padding: 0.5rem !important;
  justify-content: start;
  align-items: center;
}

.h2 {
  text-align: center;
  color: #fafafa;
  padding: 1.5rem 0;
  margin-bottom: 0;
}

.accordionContainer {
  max-width: 55rem !important;
  width: 100%;
  margin: auto;
  color: #fafafa !important;
}

.cardHeader:hover {
  background-color: #fafafa !important;
}

.cardHeader:hover .accordionLink {
  color: #030303 !important;
}

.accordionLink {
  background-color: transparent !important;
  color: #fafafa !important;
  outline: none;
}

.accordionLink:hover,
.accordionLink:focus {
  text-decoration: none !important;
  box-shadow: none !important;
}
