html{
  padding: 0;
  margin: 0;
  background: #030303;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* body {
  font-family: 'helvetica', cursive;
  font-weight: bold;
  color: #e7e7e7;
  line-height: 1.7;
  font-size: 20px;
  background-color: #030303;
} */

.Globe{
  position: relative;
  background: #030303;
}